#!/bin/bash

sudo su

yum update -y
yum install -y docker
yum install -y libxcrypt-compat

service docker start

usermod -a -G docker ec2-user

curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose

mkdir -p /home/ec2-user/fastyticket

#.env
cat <<EOF > /home/ec2-user/fastyticket/.env
DATABASE_URL="postgresql://<user>:<password>@db:5432/<dbname>?schema=public"
MAILTRAP_USER=<USER>
MAILTRAP_PASSWORD=<PASSWORD>
EOF

# docker-compose.yml
cat <<EOF > /home/ec2-user/fastyticket/docker-compose.yml
version: '3.8'

services:
  db:
    container_name: database-fastyticket
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=<user>
      - POSTGRES_PASSWORD=<password>
      - POSTGRES_DB=<dbname>
    volumes:
      - ./data/pg:/var/lib/postgresql/data

  app:
    container_name: fastyticket-app
    image: kaitowing/fastyticket:latest
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - db
EOF

chown -R ec2-user:ec2-user /home/ec2-user/fastyticket

cd /home/ec2-user/fastyticket

docker-compose up -d
